#console{
    height: 100px;
    background-color: black;
    overflow: hidden;
}
#console > .log{
    color: #ffffff;
}
#console > .warn{
    color: #ffff00;
}
#console > .error{
    color: #ff0000;
}
